In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('train.csv')

In [3]:
train.describe()

,buying_price,maintainence_cost,number_of_doors,number_of_seats,luggage_boot_size,safety_rating,popularity
count,1628.000000,1628.000000,1628.000000,1628.000000,1628.000000,1628.000000,1628.000000
mean,2.532555,2.528256,3.493857,3.633292,1.987101,1.977887,1.348280
std,1.109626,1.116920,1.120557,1.257815,0.816520,0.819704,0.654766
min,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,1.000000
25%,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,1.000000
50%,3.000000,3.000000,3.000000,4.000000,2.000000,2.000000,1.000000
75%,4.000000,4.000000,4.250000,5.000000,3.000000,3.000000,2.000000
max,4.000000,4.000000,5.000000,5.000000,3.000000,3.000000,4.000000

In [4]:
X = train.drop('popularity',axis = 1)
y = train['popularity']

In [5]:
X.head()

,buying_price,maintainence_cost,number_of_doors,number_of_seats,luggage_boot_size,safety_rating
0,3,2,4,2,2,2
1,3,2,2,5,2,1
2,1,4,2,5,1,3
3,4,4,2,2,1,2
4,3,3,3,4,3,3

In [6]:
y.head()

0    1
1    1
2    1
3    1
4    2
Name: popularity, dtype: int64

In [7]:
X.columns

Index(['buying_price', 'maintainence_cost', 'number_of_doors',
       'number_of_seats', 'luggage_boot_size', 'safety_rating'],
      dtype='object')

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,confusion_matrix

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3,random_state = 0)

In [14]:
from sklearn.svm import SVC
classifier = SVC(kernel='rbf',gamma=0.1,C=1, class_weight={1:.2,2:.8,3:.9,4:.2})
classifier.fit(X_train,y_train)
classifier.score(X_test,y_test)

0.87730061349693256

In [16]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(max_iter=1000,class_weight={1:.2,2:.8,3:.9,4:.2})
classifier.fit(X_train, y_train)
classifier.score(X_test,y_test)

0.84458077709611457

In [17]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors = 1000)
classifier.fit(X_train, y_train)
classifier.score(X_test,y_test)

0.7239263803680982

In [18]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)
classifier.score(X_test,y_test)

0.79345603271983645

In [19]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
classifier.fit(X_train, y_train)
classifier.score(X_test,y_test)

0.97341513292433535

In [31]:
from sklearn.ensemble import RandomForestClassifier
rd = RandomForestClassifier(n_estimators=300 ,max_features = 6)
rd.fit(X_train, y_train)
rd.score(X_test,y_test)

0.9795501022494888

In [21]:
from sklearn.ensemble import GradientBoostingRegressor
rgr=GradientBoostingRegressor()
rgr.fit(X_train,y_train)
rgr.score(X_test,y_test)

0.8552165221007213

In [26]:
from sklearn.neural_network import MLPClassifier
classifier = MLPClassifier(hidden_layer_sizes=(200,150,50,4))
classifier.fit(X_train,y_train)
classifier.score(X_test, y_test)

0.92024539877300615

In [27]:
from sklearn.ensemble import ExtraTreesClassifier
classifier = ExtraTreesClassifier(n_estimators=400)
classifier.fit(X_train,y_train)
classifier.score(X_test, y_test)

0.96523517382413093

In [60]:
from sklearn.ensemble import BaggingClassifier
classifier = BaggingClassifier(n_estimators=100,max_features=6,n_jobs=5)
classifier.fit(X_train,y_train)
classifier.score(X_test, y_test)

0.97750511247443761